body {
    font-size: 14px;
    background-color: #f8f8f8;
}

.container {
    margin: 0 auto;
    padding: 10px;
}

.block {
    background-color: #d8ffd8;
    border: 1px solid #000;
    padding: 10px;
    min-width: 100px;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}