* {
    box-sizing: border-box;
}

form {
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 400px;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #888;
    font-size: 14px;
}

button {
    margin-left: 10px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}