.parent {
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.box {
    width: 66%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #333;
    border: 1px solid black;
}

.text {
    text-align: center;
}

.yellow {
    background-color: #fff7a0;
    margin-left: 0;
    margin-right: calc(34% - 10px);
}

.pink {
    background-color: #f9d0f9;
    margin-left: calc(34% - 10px);
    margin-right: 0;
}